.grouplist
  .user
    = current_user.name
    %button.set{autofocus: "true", type: "button"}
      %a{:href => "/users/1/edit"} 編集
  .groups
    - @groups.each do |group|
      .group
        = link_to group_messages_path(@groups.ids) do
          = group.name